<header>
  <div class="header">
    <h1 class="header--title">Kanban Column</h1>

    <p class="header--subtitle">
      Kanban columns, lists, and cards enable you to organize and prioritize your
      projects in a fun, flexible, and rewarding way.
    </p>

    <ul class="header--tags">
      <li class="header--tag">Spica</li>
      <li class="header--tag">Bucket API</li>
      <li class="header--tag">Angular</li>
    </ul>

    <div class="header--btn-group">
      <button
        routerLink="/login"
        class="btn"
        mat-raised-button
        color="accent"
      >
        Sign Up
      </button>
      <button
        routerLink="/login"
        class="btn"
        mat-raised-button
      >
        Login
      </button>
    </div>
  </div>
</header>
