<mat-card class="outer-card">
  <mat-card-header>
    <!-- Slot for the handle -->
    <ng-content></ng-content>
    <mat-card-title>
      {{ column.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ column._id }}
    </mat-card-subtitle>
  </mat-card-header>

  <div class="tasks" id="{{currentColumnId}}" [cdkDropListConnectedTo]="dropListIds" cdkDropList
    [cdkDropListData]="column._id" cdkDropListOrientation="vertical" (cdkDropListDropped)="taskDrop($event)">
    <div class="inner-card" cdkDrag *ngFor="let task of column.tasks; let i = index" (click)="openDialog(task, i)">
      <mat-card [ngClass]="task.label"> {{ task.description }} </mat-card>
    </div>

    <button mat-raised-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
</mat-card>